
.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 35px;
}

    .nav:hover {
    }

    .nav .nav-item {
        width: 110px;
        margin: 0px 10px;
        float: left;
        position: relative;
        z-index: 1;
    }

        .nav .nav-item .nav-link {
            display: block;
            text-align: center;
            height: 36px;
            line-height: 36px;
            background-color: #CDBB24;
            cursor: pointer;
            font-size: 16px;
            color: white;
            font-weight: bold;
            -webkit-border-radius: 5px;
            -webkit-box-shadow: 0px 0px 5px 0px black;
        }

            .nav .nav-item .nav-link:hover {
                background-color: #ef1224;
            }

        .nav .nav-item.nav-tag {
            width: 196px;
            margin: 0px;
            position: relative;
            z-index: 10;
        }

            .nav .nav-item.nav-tag .nav-link {
                display: block;
                height: 36px;
                line-height: 36px;
                font-weight: normal;
                text-indent: 10px;
                font-size: 15px;
                background: url('../images/icon/tag-left.png') no-repeat center center;
                -webkit-border-radius: 0;
                -webkit-box-shadow: none;
            }

                .nav .nav-item.nav-tag .nav-link:hover {
                    background: url('../images/icon/tag-left-focus.png') no-repeat center center;
                }

        .nav .nav-item:hover .nav-sub-list {
            display: block;
        }

.nav-sub-list {
    display: none;
    width: 196px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 15px;
    -webkit-border-radius: 5px;
}

    .nav-sub-list .nav-sub-item {
        position: relative;
    }

        .nav-sub-list .nav-sub-item .nav-sub-link {
            display: block;
            margin: 5px 0px;
            text-align: center;
            height: 36px;
            line-height: 36px;
            background: url('../images/icon/tag-right.png') no-repeat left center;
            cursor: pointer;
            font-size: 16px;
            color: white;
            font-weight: bold;
        }

        .nav-sub-list .nav-sub-item:hover .nav-sub-link {
            background: url('../images/icon/tag-right-focus.png') no-repeat left center;
        }

        .nav-sub-list .nav-sub-item:hover .nav-sub2-list {
            display: block;
        }

.nav-sub2-list {
    display: none;
    width: 160px;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -4px;
    position: absolute;
    z-index: -1;
    left: 190px;
    -webkit-border-radius: 5px;
}

    .nav-sub2-list .nav-sub2-item {
    }

.nav-sub-list .nav-sub2-item .nav-sub2-link {
    display: block;
    margin: 5px 0px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #CDBB24;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px black;
}

.nav-sub-list .nav-sub2-item:hover .nav-sub2-link {
    background-color: #ef1224;
}
