body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI',Tahoma;
    background: url('../images/bg/bg-top.png') no-repeat top right,url('../images/bg/bg-bottom.png') no-repeat bottom left;
    background-color: #F5DEEE;
}
.popup-col-right {
    width: 350px;
    background: #000;
}
.page {
    width: 990px;
    min-height: 1500px;
    margin: 0px auto;
}

﻿.products {
    position: relative;
    margin-bottom: 40px;
}

.products .title {
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #CEBB26;
    text-indent: 10px;
    margin: 10px 0px;
}

.products .title .title-logo {
    background-position: center center;
    height: 50px;
    width: 75px;
    display: block;
    float: left;
    background-image: url('../images/icon/logo-small.png');
    background-repeat: no-repeat;
}

.products .content {
    height: 1200px;
    /*-webkit-box-shadow: 0px 0px 5px 0px #666;
    border: 15px solid #DBC932;
    border-radius: 5px;
    background: url('../images/icon/head-bg.png')repeat-x;*/
    -webkit-border-radius: 50px;
    -webkit-box-shadow: inset 0px 0px 30px 0px #E6C03C;
    padding: 20px 0px;
    background-color: white;
    overflow: hidden;
}

.product-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 50px 0px 0px 0px;
}

.logo {
    background-position: center center;
    height: 300px;
    background-image: url('../images/icon/logo.png');
    background-repeat: no-repeat;
}

.footer {
    height: 800px;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: inset 0px 0px 30px 0px #E6C03C;
    background: white;
    overflow: hidden;
    margin-bottom: 50px;
}

.footer .footer-nav {
    list-style: none;
    margin: 40px 50px;
    padding: 0;
}

.footer .footer-nav-item {
    line-height: 40px;
    height: 40px;
    margin-top: 10px;
    text-indent: 10px;
    font-weight: bold;
    font-size: 16px;
}

.footer .footer-nav-item .footer-icon {
    background: url('../images/icon/logo-small.png')no-repeat center center;
    height: 40px;
    width: 44px;
    display: block;
    float: left;
    background-size: auto 30px;
}

.footer .footer-nav-item a {
    color: #555;
    text-decoration: none;
}

.line {
    height: 16px;
    background: url('../images/icon/line.png')no-repeat center center;
    margin: 20px 0px;
    clear: both;
}
.line-decor {
    height: 12px;
    background: url('../images/icon/line-decor.png')no-repeat center center;
    clear: both;
}
